.omrs-main-content{
  font-family: Roboto,sans-serif;
  font-size: 14px; 
}

.omrs-main-content table td{
  border: none;
}

.omrs-main-content nav{
  margin-left: 1%;
  width: 99%;
}

.omrs-main-content nav .omrs-unstyled{
  background: #eee;
}

.omrs-main-content table tr{
  background: #fff;
  border: none;
}

.omrs-main-content .immunizationSeriesTable tr{
  background: #eff1f2
}

.omrs-main-content .immunizationSeriesTable thead{
  border: none;
}

.omrs-main-content .immunizationSeriesTable tr{
  border: none;
}